.bg-of-text{
    background-color: #002a4e;
    color: white;
}
.gol-head{
    font-size: 60px;
}
.gol-para{
    font-size: 20px;    
}
.about-font-size{
    font-size: 12px;
}
.para-font-size{
    font-size: 18px;
}